<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="dev.putra.chyruscore.feature.favorite">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_favorite">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

<!--    <dist:module-->
<!--        dist:instant="false"-->
<!--        dist:onDemand="false"-->
<!--        dist:title="@string/title_favorite">-->
<!--        <dist:fusing dist:include="false"/>-->
<!--    </dist:module>-->
</manifest>